<ul class="nav navbar-nav navbar-right">
    <li>
        <div class="dropdownWrapper">
            @Html.DropDownList("CustomerId")
        </div>
        @if (@Model.ChosenCustomer.CustomerId == 0)
        {
            <a class="customerButton" asp-area="" asp-controller="Customers" asp-action="Create">
                @Model.ChosenCustomer.FirstName @Model.ChosenCustomer.LastName
            </a>
        }

        else
        {
            <a class="customerButton" asp-area="" asp-controller="Order" asp-action="Cart">
                @Model.ChosenCustomer.FirstName @Model.ChosenCustomer.LastName
            </a>
        }
    </li>
</ul>