@model Bangazon.ViewModels.OrderViewModel

@{
  ViewData["Title"] = "Shopping Cart";
}
<h1> @ViewData["Title"] </h1>

<div class="row">
    <div class="col-sm-8">

        @foreach (var product in Model.SingleProducts)
        {
            <div class="cartItem">
                <span class="cartItemSpec">
                    <a asp-action="Detail" asp-route-id="@product.ProductId" asp-controller="Products"> 
                       
                        @Html.DisplayFor(modelItem => product.Title)
                        
                        @*SOMEHOW NEED TO TAKE THIS OUT OF THE FOREACH*@

        
                    </a>
                </span>

                <span class="cartItemSpec">
                    @Html.DisplayFor(modelItem => product.Price)
                </span>
                        
                <span class="cartItemSpec">
                    @Html.DisplayFor(modelItem => product.Quantity)
                </span>
            </div>
        }
              @foreach (var product in Model.DuplicateProducts)
        {
            <div class="cartItem">
                <span class="cartItemSpec">
                    <a asp-action="Detail" asp-route-id="@product.ProductId" asp-controller="Products"> 
                       
                        @Html.DisplayFor(modelItem => product.Title)
                        
                        @*SOMEHOW NEED TO TAKE THIS OUT OF THE FOREACH*@

        
                    </a>
                </span>

                <span class="cartItemSpec">
                    @Html.DisplayFor(modelItem => product.Price)
                </span>
                        
                <span class="cartItemSpec">
                    @Html.DisplayFor(modelItem => product.Quantity)
                </span>
            </div>
        }

<div class="row">
  <div class="col-md-6">
    <strong>Cart Total:</strong> $@Model.CartTotal
  </div>
</div>
  
<div class="cartRightItemWrapper text-center">
    <a class="btn btn-danger" disabled asp-controller="Order" asp-action="Confirmation" id="Confirm">Submit Order</a>
</div>
  

    <div class="col-sm-4 cartRightWrapper">
        <div class="cartRightItemWrapper text-center">
            @Html.DropDownList("Payment.PaymentTypeId", @Model.PaymentTypeId)
        </div>

        <div class="cartRightItemWrapper text-center">
            <a class="btn btn-danger" asp-controller="Payment" asp-action="Create">Add Payment</a>
        </div>

    
    </div>
