@model Bangazon.ViewModels.OrderViewModel

@{
  ViewData["Title"] = "Shopping Cart";
}
<h1> @ViewData["Title"] </h1>
<div class="row text-right">
  @Html.DropDownList("Payment.PaymentTypeId", @Model.PaymentTypeId)
</div>
<div class ="row text-right">
  <button asp-action="Create" class="btn btn-danger btn-lg"><a asp-controller="Payment"asp-action="Create">Add Payment</a></button>
</div><br>


@foreach (var product in Model.Products)
{
<div class="row">
    <div class="col-md-4">

      <a asp-action="Detail" asp-route-id="@product.ProductId" asp-controller="Products">
        @Html.DisplayFor(modelItem => product.Title)
      </a>
    </div>
    <div class="col-md-4">@Html.DisplayFor(modelItem => product.Description)</div>
    <div class="col-md-4">@Html.DisplayFor(modelItem => product.Price)</div>
</div>
}
<div class="row">
  <div class="col-md-6">
    <strong>Cart Total:</strong> $@Model.CartTotal
  </div>
</div>

<div class="row text-right">
 <a asp-controller="Order" asp-action="Confirmation" class="btn btn-danger btn-lg" id="Confirm">Submit Order</a>
</div>


