@model Bangazon.ViewModels.OrderViewModel

@{
  ViewData["Title"] = "Shopping Cart";
}
<h1> @ViewData["Title"] </h1>

<div class="row">
    <div class="col-sm-8">

        @foreach (var product in Model.Products)
        {
            <div class="cartItem">
                <span class="cartItemSpec">
                    <a asp-action="Detail" asp-route-id="@product.ProductId" asp-controller="Products">
                        @Html.DisplayFor(modelItem => product.Title)
                    </a>
                </span>

                <span class="cartItemSpec">
                    @Html.DisplayFor(modelItem => product.Price)
                </span>

                <span class="cartItemSpec">
                    Qty
                </span>
            </div>
        }
        <strong>Cart Total:</strong> $@Model.CartTotal
    </div>
    <div class="col-md-4">@Html.DisplayFor(modelItem => product.Description)</div>
    <div class="col-md-4">@Html.DisplayFor(modelItem => product.Price)</div>
</div>
}
<div class="row">
  <div class="col-md-6">
    <strong>Cart Total:</strong> $@Model.CartTotal
  </div>
</div>
  
<div class="row text-right">
 <input type="submit" disabled asp-controller="Order" asp-action="Confirmation" class="btn btn-danger btn-lg" id="Confirm" value="Submit Order">
</div>
  

    <div class="col-sm-4 cartRightWrapper">
        <div class="cartRightItemWrapper text-center">
            @Html.DropDownList("Payment.PaymentTypeId", @Model.PaymentTypeId)
        </div>

        <div class="cartRightItemWrapper text-center">
            <a class="btn btn-danger" asp-controller="Payment" asp-action="Create">Add Payment</a>
        </div>

        <div class="cartRightItemWrapper text-center">
            <a asp-controller="Order" asp-action="Confirmation" class="btn btn-danger" id="Confirm">Submit Order</a>
        </div>
    </div>
</div>
